= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message

    .form-group.row
        .col-sm-2
            = label :news_item, :representative_id, 'Representative:', class: 'col-form-label'
        .col-sm-10
            = select :news_item,
                :representative_id,
                options_for_select(representatives_list, representative_name),
                { include_blank: true }, class: 'form-control'

    .form-group.row
        .col-sm-2
            = label :news_item, :issue, 'Issue:', class: 'col-form-label'
        .col-sm-10
            = select :news_item,
                :issue,
                NewsItem::ISSUES,
                { prompt: 'Select an Issue' }, class: 'form-control'

    .actions
        = f.submit 'Search', class: 'btn btn-primary', style: "margin-left: 47.5%"
